<a href="https://colab.research.google.com/github/KarolMc/msc_dissertation/blob/main/step_1_exam_raw_dropped_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
to_drop = pd.read_csv('/content/drive/MyDrive/NHANES/EXAM_VAR_TO_DROP.csv')

to_drop.head()

   VIDLOVA  Unnamed: 1  Unnamed: 2
0   VIDLVA         NaN         NaN
1  VIDOLFM         NaN         NaN
2  VIDORFM         NaN         NaN
3  VIDROVA         NaN         NaN
4   VIDRVA         NaN         NaN

In [ ]:
to_drop_list = to_drop['VIDLOVA'].tolist()

to_drop_list.append('VIDLOVA')

In [ ]:
dent_drop = pd.read_csv('/content/drive/MyDrive/NHANES/EXAM_DENT_VAR_TO_DROP.csv')

dent_drop = dent_drop.drop(506, axis = 0)

In [ ]:
dent_drop_list = dent_drop['OHDEXCLU'].tolist()

dent_drop_list.append('OHDEXCLU')

In [ ]:
exam_data = pd.read_csv('/content/drive/MyDrive/NHANES/merged_csv/exam_data.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (308,309,311,325,326,328,1753,1754,1755,1756,1757,1758,1759,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2030,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2104,2105) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
exam_data_cols = exam_data.columns.tolist()

In [ ]:
len(exam_data_cols)

2106

In [ ]:
drop_set = set(to_drop_list)

to_drop_cols = []

for column in exam_data_cols: 
  if column in drop_set: 
    to_drop_cols.append(column)

len(to_drop_cols)

746

In [ ]:
exam_data.shape

(48710, 2106)

In [ ]:
exam_data_dropped = exam_data.drop(to_drop_cols, axis = 1)

exam_data_dropped.shape

(48710, 1360)

In [ ]:
dent_set = set(dent_drop_list)

dent_drop_cols = []

for column in exam_data_dropped: 
  if column in dent_set: 
    dent_drop_cols.append(column)

len(dent_drop_cols)

507

In [ ]:
exam_data_dropped = exam_data_dropped.drop(dent_drop_cols, axis = 1)

exam_data_dropped.head()

,Unnamed: 0,SEQN,OPASCST2,OPASCCT2,VIQ110_x,VIQ121_x,VIQ130_x,OPXDCOMP,OPXDF1,OPXDF1FO,...,OHX28RSC,OHX29RSC,OHX30RSC,OHX31RSC,OHXRCAR,OHXRCARO,OHXRRES,OHXRRESO,AUATYMTR,AUATYMTL
0,0,41475.0,1.0,NaN,2.0,NaN,2.0,2.0,2.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,41477.0,1.0,NaN,2.0,NaN,2.0,2.0,2.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,41479.0,3.0,56.0,2.0,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,41482.0,1.0,NaN,2.0,NaN,2.0,2.0,2.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,41483.0,1.0,NaN,2.0,NaN,2.0,2.0,2.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
exam_data_dropped.iloc[9762]

Unnamed: 0       9762
SEQN          51624.0
OPASCST2          NaN
OPASCCT2          NaN
VIQ110_x          NaN
               ...
OHXRCARO          NaN
OHXRRES           NaN
OHXRRESO          NaN
AUATYMTR          NaN
AUATYMTL          NaN
Name: 9762, Length: 853, dtype: object

In [ ]:
exam_data_dropped.to_csv('/content/drive/MyDrive/NHANES/merged_csv/exam_raw_data.csv')